# dependencies
node_modules
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# Built typescript codes and libs
**/*/lib
**/*/dist
**/*/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.log
.idea

# Docker database exports NOTE: ADD THIS WHEN DATABASE GETS BIG
# tmp/

# cache
.eslintcache